.links-alert {
    font-size: 1rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    background-color: #1D1D1D;
    border: 0.1em solid #DE7300;
    padding: 0.5em;
    box-shadow: 0 0 4px #000000;

    max-height: calc(100% - 6rem);
    overflow-y: auto;

    z-index: 9999;
}

.links-alert .links-site-link {
    font-size: 1em;
    margin-bottom: 0.25em;
    color: #DE7300;
    border-bottom: 1px solid #DE7300;
    font-weight: 500;

    text-decoration: none !important;
    padding-bottom: 0;
}

.links-alert .links-site-link:hover {
    color: #E9EBEE;
}

.links-alert .links-site-link:visited {
    color: #d49451;
}

.links-site-section:not(:last-child) {
    margin-bottom: 0.5rem;
}

.links-alert-header {
    width: 90%;
    font-size: 0.83em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #CCCCCC;
}


.links-site-header {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: 0.75em;
}

.links-alert-header,
.links-site-header {
    color: #E9EBEE;
    font-weight: 700;
}

.icon.icon-md.links-alert-header-icon {
    font-size: inherit;
}
